<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/"> 
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="/">Home</a>
      <a class="sidebar-nav-item{% if page.url == '/about/' %} active{% endif %}" href="/about">about</a>
      <a class="sidebar-nav-item{% if page.url == '/note/' %} active{% endif %}" href="/note">posts</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
